{% extends 'base.html' %}
{% block conteúdo %}
        
    <h2 style="text-align: center;">Lista de frutas</h2>
    <hr>
    <form action="{{url_for('principal')}}" method="POST">
        <div class="form-control">
            <label for="exemploFruta">Add Fruta</label>
            <input type="text" name="fruta" class="form-control" id="exemploFruta" placeholder="Digite uma fruta">
        </div>
        <button class="btn btn-primary" >Adicionar</button>
    </form>
    <ul class="list-group">
        {% for recebeFrutas in recebeFrutas %}
            <li class="list-group-item">{{recebeFrutas}}</li>
        {% endfor %}
    </ul>

{% endblock conteúdo %}